/* RESET */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f6f8f9;
}

/* HEADER */
.header-container {
    padding: 20px 10px;
    background-color: white;
    margin-bottom: 50px;
}

.logo {
    display: inline-block;
    vertical-align: middle;
}
.img-logo {
    width: 61px;
}

.text-logo {
    font-size: 48px;
    font-weight: 700;
}

/* MAIN */
.main-container {
    background-color: white;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3px;
    border-radius: 5px;
}
/* contenitore pulsanti azione */
.actions {
    border-bottom: solid;
    border-color: #f6f8f9;
    padding: 10px;          
}

/* caratteristiche pulsanti */
.button-nav{
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    border: solid;
}

.button {
    padding: 6px;
    border-radius: 15px;
    display: inline-block;
    border: solid;
    margin-left: 10px;
}

.background-blue {
    background-color: #47adf1;
    border-color: #47adf1;
}

.background-violet {
    background-color: #9c72e4;
    border-color: #9c72e4;
}

.background-green {
    background-color: #64c0a9;
    border-color: #64c0a9;
}

.background-orange {
    background-color: #f29e33;
    border-color: #f29e33;
}

.background-pink {
    background-color: #d863a1;
    border-color: #d863a1;
}

.background-haygreen {
    background-color: #b0c926;
    border-color: #b0c926;
}

.nav-text-white {
    color: white;
}

.text-white {
    color: white;
    font-size: 10px;
}

.nav-text-grey {
    color: #d7dbde;
}

/* contenitore lista */
.list-section{
    margin-top: 30px;
    padding: 30px;
}

/* stili lista */
.list {
    list-style-type: none;
    font-size: 20px;
}

.list-item {
    margin-bottom: 20px;
}

.list-style-triangle {
    font-size: 30px;
}

.list-subject {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.list-style-check {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: solid;
    border-radius: 50%;
    border-color: lightgreen;
    text-align: center;
    color: lightgreen;
    font-size: 10px;
    margin-right: 13px;
}

.list-style-cross {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: solid;
    border-radius: 50%;
    border-color: red;
    text-align: center;
    color: red;
    font-size: 10px;
    margin-right: 13px;
}

